/* Universal Styles */

* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 100;
}

.main-content {
  position: relative;
  top: 87px; /* To offset for fixed header. */
}

.center {
  text-align: center;
}

.button {
  border-radius: 4px;
  background-color: #4a4a4a;
  color: white;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  display: block;
}

/* Header */

header {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 1;
  font-weight: 400;
}

header .content {
  display: flex;
  align-items: center;
  padding: 1.875rem;
}

header .logo {
  flex: 1;
}

header nav.desktop {
  width: 85%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header nav a {
  display: block;
  line-height: 1.6;
  font-size: 1rem;
  color: #4a4a4a;
}

header nav.desktop a {
  margin-left: 3.75rem;
}

header .icon {
  width: 1.25rem;
  height: 1.25rem;
  display: inline-block;
  margin-left: 0.75rem;
}

header .desktop .button {
  margin-left: 27px;
  padding: .1875rem .5rem;
  background-color: #9dc20b;
  line-height: 1.6;
  color: white;
  display: none;
}

header .mobile {
  display: none;
}

/* Sign-up Section */

#sign-up-section {
  padding: 170px 0 0 100px;
  width: 100%;
  background-image: url(../images/banner-landingpage.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 43.5rem;
}

#sign-up-cta {
  padding: 0.5rem 5rem 56px 5rem;
  border: solid 1px #979797;
  border-radius: 4px;
  background-color: #9dc20b;
}

#sign-up-cta .content {
  width: 25.625rem;
  margin-top: 2rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  line-height: 1.4;
  color: white;
}

#sign-up-cta h1 {
  font-size: 3.125rem;
  margin-top: 
}

#sign-up-cta h2 {
  font-size: 2.25rem;
  line-height: 1;
}

#sign-up-cta .email p {
  font-weight: 400;
}

#sign-up-cta .email p strong {
  font-weight: 700;
}

#sign-up-cta .cursive {
  font-family: "Damion", cursive;
}

#sign-up-cta .striking {
  font-family: "Rubik", sans-serif;
  padding-bottom: .75rem;
}

#sign-up-cta .button {
  margin-top: 1.625rem;
  padding: 1.25rem 7.25rem;
  font-weight: 500;
}

/* Features Section */

#features-section {
  display: flex;
  justify-content: space-between;
  padding: 46px 0.75rem;
  background-color: #f3f3f3;
}

.feature {
  flex: 1;
  padding: 2rem;
  margin: 0 19px;
  background-color: white;
}

.feature img {
  width: 100%;
  height: auto;
}

.feature .content {
  min-height: 108px;
}

.feature h2 {
  margin-top: 40px;
  padding-bottom: 0.5rem;
  font-size: 2.25rem;
  line-height: 1.1;
  font-weight: bold;
  color: #4a4a4a;
}

.feature h3 {
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 300;
  color: #4a4a4a;
}

/* Filters Section */

#filters-section {
  padding: 4rem 1%;
  background-color: #4a4a4a;
}

#filters-section .content {
  padding: 0 0.625rem 4rem 0.625rem;
}

#filters-section .content h2 {
  font-size: 2.25rem;
  font-weight: bold;
  color: white;
}

#filters-section .content h3 {
  width: 30rem;
  margin: 0.5rem auto 0 auto;
  font-size: 1rem;
  line-height: 1.4;
  color: white;
}

#filters-section .images-container {
  display: flex;
  align-items: flex-start;
}

#filters-section img {
  width: 25%;
  height: auto;
}

/* Quotes Section */

#quotes-section {
  display: flex;
  justify-content: center;
  background-color: #f3f3f3;
  padding: 5rem 2rem;
}

#quotes-section p {
  font-family: "Palatino", serif;
  font-size: 1.875rem;
  line-height: 1.1;
  font-style: italic;
  color: #4a4a4a;
}

#quotes-section img {
  width: auto;
  height: 1.875rem;
  margin-left: 1.875rem;
  display: block;
}

/* Footer */

footer {
  background-color: #9b9b9b;
  padding: 1.5rem 2rem;
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: .75rem;
}

/*** MEDIA QUERIES ***/

/* 930px Breakpoint - smaller Feature titles  */

@media only screen and (max-width: 930px) {
  .feature h2 {
    margin-top: 20px;
    font-size: 1.75rem;
    line-height: 1.3;
    text-align: left;
  }

  .feature h3 {
    text-align: left;
  }
}

  /* 780px Breakpoint - tablet view */

@media only screen and (max-width: 780px) {
  .main-content {
    position: relative;
    top: 63px; /* To offset for fixed header. */
  }
  
  header .content {
    padding: 1rem;
  }
  
  header nav.desktop a {
    margin-left: 2.5rem;
  }
  
  header .desktop .button {
    display: block;
  }

  #sign-up-section {
    align-items: center;
    justify-content: center;
    background-position: 74%;
    height: 28rem;
    padding: 0;
  }

  #sign-up-cta {
    width: auto;
    height: auto;
    padding: 0;
    background-color: transparent;
    border: none;
  }

  #sign-up-cta .content {
    margin-top: 0;
  }

  #sign-up-cta .email {
    display: none;
  }

  #sign-up-cta h1 {
    font-size: 3.125rem;
  }

  #sign-up-cta h2 {
    font-size: 2.25rem;
  }

  #features-section {
    padding: 1.5rem 0.75rem;
  }
  
  .feature {
    padding: 1.5rem;
    margin: 0 0.75rem;
  }

  #filters-section {
    padding: 4rem 0 0 0;
  }

  #filters-section .images-container {
    padding: 0;
  }

  #filters-section .extra {
    display: none;
  }

  #quotes-section {
    padding: 3rem 2rem;
  }
  
  #quotes-section content {
    padding: 1.875rem .625rem;
  }
}

/* 680px Breakpoint - graphical header */

@media only screen and (max-width: 680px) {
  .main-content {
    top: 3rem; /* To offset for fixed header. */
  }

  header .content {
    height: 3rem;
    padding: .5rem 0;
    align-items: center;
  }

  header .logo, header nav.desktop {
    display: none;
  }

  header .mobile {
    display: block;
    width: 100%;
  }

  header .mobile ul {
    width: 100%;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header .mobile li {
    padding: 0;
  }

  header .mobile img {
    display: block;
  }

  header .mobile .button {
    padding: .1875rem 0.5rem 2px 0.5rem;
    background-color: #9dc20b;
    line-height: 1.6;
    color: white;
  }

  #features-section {
    flex-flow: column;
    padding: 0;
  }

  .feature {
    margin: 0;
    padding: 1.25rem 1rem 0 1rem;
  }

  #filters-section {
    padding: 1.5rem 0 0 0;
  }

  #filters-section .content {
    padding-bottom: 1.5rem;
  }

  #filters-section .content h2 {
    padding-bottom: .625rem;
    font-size: 1.125rem;
    line-height: 1.3;
    font-weight: normal;
  }

  #filters-section .content h3 {
    width: 90%;
    font-size: .875rem;
    line-height: 1.4;
  }

  #quotes-section {
    padding: 2.5rem 2rem 2rem 2rem;
  }
  
  #quotes-section p {
    font-size: 1.5rem;
    line-height: 1.4;
  }
}

/* 450px Breakpoint - smartphone view */

@media only screen and (max-width: 450px) {
  #sign-up-section {
    height: 18rem;
    background-position: 100%;
  }

  #sign-up-cta h1 {
    font-size: 2rem;
  }

  #sign-up-cta h2 {
    font-size: 2rem;
  }

  .feature {
    padding-bottom: 30px;
  }

  #feature-1 {
    background-color: #cccccc;
  }

  .feature .content {
    min-height: 0;
    padding: 0 10px;
  }
  
  .feature h2 {
    font-size: 1.125rem;
    line-height: 1.3;
    font-weight: normal;
    text-align: center;
  }
  
  .feature h3 {
    font-size: 14px;
    text-align: center;
  }
  
  #filters-section .content h3 {
    width: 100%;
    padding: 0 20px;
  }

  #filters-section img {
    width: 33.3333%;
  }
  
  #filters-section .images-container img:nth-child(4) {
    display: none;
  }
  
  #quotes-section {
    width: 100%;
    margin: 0;
    flex-direction: column;
    align-items: center;
  }
  
  #quotes-section p {
    margin-bottom: 0.85rem;
    text-align: center;
  }
  
  #quotes-section img {
    margin: 0;
  }

  footer {
    padding: 1rem 1rem;
    font-size: .625rem;
    font-weight: 100;
  }
}
