/* Universal Styles */

* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.main-content {
  position: relative;
  top: 5.3125rem; /* To offset for fixed header. */
}

.center {
  text-align: center;
}

.button {
  border-radius: 4px;
  background-color: #4a4a4a;
  color: white;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  display: block;
}

/* Header */

header {
  position: fixed;
  width: 100%;
  border-bottom: solid 1px #c6c1c1;
  background-color: white;
  z-index: 1;
}

header .content {
  display: flex;
  align-items: center;
  padding: 1.875rem;
}

header .logo {
  flex: 1;
}

header nav.desktop {
  width: 70%;
  max-width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  display: block;
  line-height: 1.6;
  font-size: 1rem;
  color: #4a4a4a;
}

header .icon {
  width: 1.25rem;
  height: 1.25rem;
  position: relative;
  top: 5px;
  display: inline-block;
  margin-left: 0.75rem;
}

header .desktop .button, header .mobile {
  display: none;
}

/* Sign-up Section */

#sign-up-section {
  padding: 170px 0 0 100px;
  width: 100%;
  background-image: url(../images/banner-landingpage.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 43.5rem;
}

#sign-up-cta {
  padding: 0 5rem 56px 5rem;
  border: solid 1px #979797;
  border-radius: 4px;
  background-color: #9dc20b;
}

#sign-up-cta .content {
  width: 25.625rem;
  margin-top: 2rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  line-height: 1.4;
  color: white;
}

#sign-up-cta h1 {
  font-size: 3.125rem;
}

#sign-up-cta h2 {
  font-size: 2.25rem;
}

#sign-up-cta span strong {
  font-weight: bold;
}

#sign-up-cta .cursive {
  font-family: "Damion", cursive;
}

#sign-up-cta .striking {
  font-family: "Rubik", sans-serif;
  padding-bottom: .75rem;
}

#sign-up-cta .button {
  margin-top: 1.625rem;
  padding: 1.25rem 7.25rem;
}

/* Features Section */

#features-section {
  display: flex;
  justify-content: space-between;
  padding: 4rem 5%;
  background-color: #f3f3f3;
}

.feature {
  flex: 1;
  padding: 2rem;
  margin: 0px 1.25rem;
  background-color: white;
}

.feature img {
  width: 100%;
  height: auto;
}

.feature .content {
  min-height: 108px;
}

.feature h2 {
  margin-top: 40px;
  padding-bottom: 0.5rem;
  font-size: 2.25rem;
  line-height: 1.1;
  font-weight: bold;
  color: #4a4a4a;
}

.feature h3 {
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 300;
  color: #4a4a4a;
}

/* Filters Section */

#filters-section {
  padding: 4rem 1%;
  background-color: #4a4a4a;
}

#filters-section .content {
  padding: 0 .625rem;
  margin-bottom: 5rem;
}

#filters-section .content h2 {
  font-size: 2.25rem;
  font-weight: bold;
  color: white;
}

#filters-section .content h3 {
  width: 30rem;
  margin: 0.5rem auto 0 auto;
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 300;
  color: white;
}

#filters-section .images-container {
  display: flex;
  align-items: flex-start;
}

#filters-section img {
  width: 25%;
  height: auto;
}

/* Quotes Section */

#quotes-section {
  display: flex;
  justify-content: center;
  background-color: #f3f3f3;
  padding: 5rem 0;
}

#quotes-section p {
  font-family: "Palatino", serif;
  font-size: 1.875rem;
  line-height: 1.1;
  font-style: italic;
  color: #4a4a4a;
}

#quotes-section img {
  width: auto;
  height: 1.875rem;
  margin-left: 1.875rem;
  display: block;
}

/* Footer */

footer {
  background-color: #9b9b9b;
  padding: 1.5rem 2rem;
}

footer .content {
  color: white;
  display: flex;
  font-size: .75rem;
}

footer .copyright {
  flex-grow: 1;
}

/*** MEDIA QUERIES ***/

/* 930px Breakpoint - smaller Feature titles  */

@media only screen and (max-width: 930px) {
  .feature h2 {
    font-size: 1.75rem;
    line-height: 1.3;
    text-align: left;
  }

  .feature h3 {
    text-align: left;
  }
}

  /* 780px Breakpoint - tablet view */

@media only screen and (max-width: 780px) {
  header .content {
    padding: 1.7rem;
  }  
  
  header nav.desktop {
    width: 70%;
    max-width: 460px;
  }
  
  header .desktop .button {
    padding: .1875rem .5rem;
    display: block;
    background-color: #9dc20b;
    line-height: 1.6;
    color: white;
  }

  #sign-up-section {
    align-items: center;
    justify-content: center;
    height: 28rem;
    padding: 0;
  }

  #sign-up-cta {
    width: auto;
    height: auto;
    padding: 0;
    background-color: transparent;
    border: none;
  }

  #sign-up-cta .content {
    margin-top: 0;
  }

  #sign-up-cta .email {
    display: none;
  }

  #sign-up-cta h1 {
    font-size: 3.125rem;
  }

  #sign-up-cta h2 {
    font-size: 2.25rem;
  }

  #filters-section {
    padding: 1.5rem 0 0 0;
  }

  #filters-section .content {
    margin-bottom: 1rem;
  }

  #filters-section .content h2 {
    padding-bottom: .625rem;
    font-size: 1.125rem;
    line-height: 1.3;
    font-weight: normal;
  }

  #filters-section .content h3 {
    font-size: .875rem;
    line-height: 1.4;
  }

  #filters-section .images-container {
    padding: 0;
  }

  #filters-section .extra {
    display: none;
  }

  #quotes-section content {
    padding: 1.875rem .625rem;
  }

  #quotes-section quote {
    font-size: 1.5rem;
    line-height: 1.4;
  }

  #quotes-section quote-citation {
    display: block;
    padding-top: 1rem;
    margin: auto;
  }
}

/* 680px Breakpoint - graphical header */

@media only screen and (max-width: 680px) {
  .main-content {
    top: 3rem;
  }

  header .content {
    height: 3rem;
    padding: .5rem 0;
    align-items: center;
  }

  header .logo, header nav.desktop {
    display: none;
  }

  header .mobile {
    display: block;
    width: 100%;
  }

  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  header .mobile li {
    padding: 0;
  }

  header .mobile img {
    display: block;
  }

  header .mobile .button {
    padding: .1875rem .5rem;
    background-color: #9dc20b;
    line-height: 1.6;
    color: white;
  }

  #features-section {
    flex-flow: column;
    padding: 0;
  }

  .feature {
    margin: 0;
    padding: 1.25rem 1rem 0 1rem;
  }
}

/* 450px Breakpoint - smartphone view */

@media only screen and (max-width: 450px) {
  #sign-up-section {
    height: 20rem;
  }

  #sign-up-cta h1 {
    font-size: 2.25rem;
  }

  #sign-up-cta h2 {
    font-size: 2rem;
  }

  footer .content {
    font-size: .625rem;
  }
}
